/Command.class
/AddCommand.class
/ExitCommand.class
/ResetCommand.class
/HelpCommand.class
/CommandGenerator.class
/NoParamsCommand.class
/UpdateCommand.class
/NoCommand.class
/AddBlBaCommand.class
/AddBloodBankCommand.class
/GarlicPushCommand.class
/LightFlashCommand.class
/SuperCoinsCommand.class
/AddVampireCommand.class
/AddVampireCommand$availableTypes.class
/StringifyCommand.class
/SaveCommand.class
